<nav class="ax-nav">
  <img  routerLink=""
    src="	https://themewagon.github.io/MiniStore/images/main-logo.png"
    alt=""
  />
  <div  *ngIf="menuType!=='seller'" class="ax-nav__search">
    <input type="text" placeholder="Search Products..." />
    <button>Search</button>
  </div>
  <div class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div [ngSwitch]="menuType">
            <ul *ngSwitchCase="'default'" >
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="user-signup">Login/Sign-up</a></li>
              <li><a href="#">Cart({{cartItems}})</a></li>
            </ul>
            <ul *ngSwitchCase="'user'" >
              <li><a routerLink="">Home</a></li>
              <li><a (click)="userLogout()" >Logout</a></li>
              <li><a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>
              <li><a>{{userName | titlecase}}</a></li>
            </ul>
           </div>
          <!-- <ul>
            <li><a href="#">Seller</a></li>
            <li><a routerLink=" ">Home</a></li>
            <li><a routerLink="user-signup">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</nav>
