.ax-checkout {
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h4 {
    margin-left: 120px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  &__input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding-left: 15px;
    color: blueviolet;
  }
  &__button {
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
  }
}
